body {
  margin: 0;
  font-family: Helvetica Neue, sans-serif;
  font-style: normal;
  color: #FFFFFF;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(90deg, #5B24A2 0%, #431B78 100%);
}
